/target
**target
**/.vscode
/.local-env
**/.DS_Store
*.tmp
.env.private
**/expanded_code*
scratch
**node_modules
**/snapshot
**/.env
/build
/frontend/.next
/frontend/out
/frontend/playwright-report
/frontend/test-results
new_contacts.csv